@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #45515F;
}

.container {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 380px) {
  .container {
    max-width: 380px;
    margin: 0 auto;
  }
}

.dn {
  display: none;
}

.range {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  /* Override default look in Firefox */
  background: transparent;
  cursor: pointer;
  width: 100%;
  display: block;
  /* убрать нижний отступ инлайн элемента  */
}

.range__wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 70px;
}

.range__label {
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
  transition: transform 100ms, left 100ms;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  height: 24px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.range__label span {
  margin-right: 5px;
}

.range__min-value, .range__max-value {
  font-size: 13px;
  line-height: 1.154;
  color: #C0C2C5;
  position: absolute;
  bottom: -25px;
}

.range__min-value {
  left: 0;
}

.range__max-value {
  right: 0;
}

/* thumb-position = (value - min) / (max - min) * 100% */
.sum-label {
  /* thumb-position = 32500 / 50000 * 100% = 65% */
  /* (32500 - 500) / (50000 - 500) * 100% = 32000 / 49500 * 100% =  65%*/
  left: 65%;
}

.term-label {
  /* (8 - 3)/(30 - 3) * 100% = 5/27*100 =  19%*/
  left: 19%;
}

/* input range = track + thumb */
/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.range::-webkit-slider-runnable-track {
  background-color: #ececec;
  height: 7px;
  border-radius: 8px;
}

/******** Firefox ********/
.range::-moz-range-track {
  background-color: #ececec;
  height: 7px;
  border-radius: 8px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.range::-webkit-slider-thumb {
  /* Override default look */
  -webkit-appearance: none;
  appearance: none;
  /* Centers thumb on the track */
  /* margin-top=(track height in pixels / 2) - (thumb height in pixels /2) */
  /* margin-top= (7/2) - (21/2) =  -7px */
  margin-top: -7px;
  background-color: #FFA147;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

/***** Firefox *****/
.range::-moz-range-thumb {
  /* Override default look */
  -webkit-appearance: none;
  appearance: none;
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0;
  /*Removes default border-radius that FF applies*/
  /* In Firefox no need to center thumb - thumb centered by defoult */
  background-color: #FFA147;
  height: 21px;
  width: 21px;
  border-radius: 50%;
}

/***** Progress Styles (зліва від thumb зафарбований track )*****/
/***** Firefox *****/
.range::-moz-range-progress {
  background-color: #FF9F47;
  background-image: -moz-linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
  height: 7px;
  border-radius: 8px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
/* Важливо! Нажаль, для -webkit немає псевдоелемента лінії прогресу в range, і один із варіантів її імітації - довга тінь зліва від повзунка
Але для градієнту не підходить, отже потрібно використовувати додатковий div */
.range__progress {
  position: absolute;
  left: 0;
  top: 50%;
  height: 7px;
  /* width = thumb-position --> див. README.txt або коментар в html-розмітці*/
  transform: translateY(-50%);
  background-color: #FF9F47;
  background-image: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
  border-radius: 8px;
  pointer-events: none;
}

.range__progress.first-range {
  width: 65%;
  /* width = thumb-position --> див. README.txt або коментар в html-розмітці*/
}

.range__progress.second-range {
  width: 19%;
  /* width = thumb-position --> див. README.txt або коментар в html-розмітці*/
}

.form {
  width: 100%;
  padding: 30px;
}

.form__wrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  overflow: hidden;
}

.form__label {
  display: block;
  font-size: 22px;
  line-height: 1.182;
  margin-bottom: 50px;
}

.form .btn {
  margin: 0 auto;
  display: block;
}

.form__calculator {
  margin-top: 60px;
}

.form__calc-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -21px;
}

.form__calc-list-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.214;
  margin-top: 21px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.form__calc-list-item span:last-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #F28925;
  padding-top: 2px;
}

.btn {
  background-image: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
  border-radius: 8px;
  padding: 21px 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: transform 300ms ease-out;
}

.btn:hover, .btn:focus {
  transform: scale(1.05);
}

.btn-sec {
  border: 1px solid #C9D2DD;
  background-color: transparent;
  border-radius: 8px;
  padding: 21px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  text-transform: uppercase;
  color: #45515F;
  cursor: pointer;
  transition: transform 300ms ease-out;
}

.btn-sec:hover, .btn-sec:focus {
  transform: scale(1.05);
}

.btn-sec--white {
  border: 1px solid #fefefe;
  color: #fefefe;
}

.bookmark {
  height: 0;
  width: 94px;
  border-bottom: 22px solid #FFC83E;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  transform: rotate(-45deg);
  position: relative;
}

.bookmark--lite {
  border-bottom: 22px solid #FFC83E;
}

.bookmark--basic {
  border-bottom: 22px solid #FF7B00;
}

.bookmark--pro {
  border-bottom: 22px solid #FA5914;
}

.bookmark span {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -26px;
}

.title {
  font-weight: 600;
  font-size: 38px;
  line-height: 33px;
  text-align: center;
  color: #45515F;
}

.title--white {
  color: #ffffff;
}

.rating__list {
  display: flex;
}

.rating__item:not(:last-child) {
  margin-right: 3.41px;
}

.rating__icon {
  width: 13px;
  height: 12px;
}

.header {
  height: 70px;
  background-color: #ffbf40;
  border-bottom: 1px solid #FF7B00;
  box-shadow: 0 3px 5px #ffbf40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
}

.logo-icon {
  width: 126px;
  height: 24px;
}

.site-navigation {
  position: absolute;
  top: 102%;
  left: 0;
  width: 100%;
  background: linear-gradient(left, #ff9f47 0%, #ffc83e 100%);
  background: -webkit-linear-gradient(left, #ff9f47 0%, #ffc83e 100%);
  background: -o-linear-gradient(left, #ff9f47 0%, #ffc83e 100%);
  background: -moz-linear-gradient(left, #ff9f47 0%, #ffc83e 100%);
  padding: 0 15px;
  z-index: 1;
  transform-origin: right top;
  transform: scale(0);
  transition: transform 500ms ease-out;
}

.menu-list {
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu-list__item {
  padding-left: 15px;
  border-left: 3px solid #FF7B00;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu-link {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
}

.header-btn {
  width: 155px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF7B00;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 300ms ease-out;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: auto;
}

.header-btn:hover, .header-btn:focus {
  transform: scale(1.05);
}

@media screen and (max-width: 1299px) {
  .header-btn span {
    display: none;
  }
}

.menu-button {
  width: 39px;
  height: 39px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.menu-button:hover, .menu-button:focus {
  outline: 2px solid #FF7B00;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button-icon {
  fill: #ff7b00;
}

.show {
  transform: scale(1) rotate(360deg);
}

.is-blocked {
  overflow: hidden;
}

.hero {
  padding-top: 100px;
  padding-bottom: 34px;
  background-color: #ffbf40;
}

.hero-subtitle {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 14px 25px 14px 75px;
  margin-bottom: 24px;
  position: relative;
}

.hero-subtitle__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #3C4260;
}

.hero-subtitle__icon {
  width: 56px;
  height: 56px;
  position: absolute;
  top: -10px;
  left: 8px;
  transform-origin: center bottom;
  animation: fire 1500ms linear infinite;
}

.hero__info {
  margin-bottom: 37px;
}

.hero__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 111.5%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 133.5%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.hero__note {
  font-weight: 300;
  font-size: 14px;
  line-height: 145.5%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .hero__image {
    display: none;
  }
}

@keyframes fire {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(-10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.best-deal {
  background-color: #f6f9fc;
  padding-top: 40px;
  padding-bottom: 25px;
}

.best-deal__list {
  margin-top: 32px;
  margin-bottom: 25px;
}

.best-deal__item {
  height: 172px;
  width: 100%;
  padding: 35px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  border-radius: 22px;
  position: relative;
}

.best-deal__item:not(:last-child) {
  margin-bottom: 15px;
}

.best-deal__item .bookmark {
  position: absolute;
  left: -22px;
  top: 15px;
}

.best-deal__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.27;
  border-radius: 50%;
  margin-bottom: 20px;
}

.best-deal__title.lite span {
  color: #FFC83E;
}

.best-deal__title.basic span {
  color: #FF7B00;
}

.best-deal__title.pro span {
  color: #FA5914;
}

.best-deal__info {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.82;
  padding-left: 24px;
  background-repeat: no-repeat;
}

.best-deal__info:not(:last-child) {
  margin-bottom: 15px;
}

.best-deal__info span {
  font-weight: 500;
}

.best-deal__info.date {
  background-image: url(../images/icons/calendar.svg);
  background-position: 4px center;
}

.best-deal__info.cash {
  background-image: url(../images/icons/coins.svg);
  background-size: 18px 18px;
  background-position: left center;
}

.best-deal__note {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.455;
  text-align: center;
}

.how-get-money {
  background-color: #f6f9fc;
  padding-top: 25px;
  padding-bottom: 51px;
}

.how-get-money .btn {
  margin: 0 auto;
  display: block;
}

.how-get-money__list {
  margin-top: 50px;
  margin-bottom: 43px;
  position: relative;
}

.how-get-money__list::before {
  content: '';
  height: 100%;
  width: 7px;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 35%;
  transform: translateX(-50%);
  z-index: 1;
}

.how-get-money__item {
  height: 118px;
  position: relative;
  display: flex;
  align-items: center;
}

.how-get-money__item::before {
  content: '';
  height: 34px;
  width: 34px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.455;
  color: #D6D3D3;
  transition: all 500ms ease-in-out;
  z-index: 100;
}

.how-get-money__item:nth-child(1)::before {
  content: '1';
}

.how-get-money__item:nth-child(2)::before {
  content: '2';
}

.how-get-money__item:nth-child(3)::before {
  content: '3';
}

.how-get-money__item:nth-child(4)::before {
  content: '4';
}

.how-get-money__item:hover::before, .how-get-money__item:focus::before {
  color: #fff;
  background-color: #FFA147;
}

.how-get-money__item::after {
  content: '';
  width: 7px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  bottom: 50%;
  left: 35%;
  transform: translateX(-50%);
  transition: all 500ms ease-in-out;
}

.how-get-money__item:nth-child(1)::after {
  height: 50%;
  z-index: 6;
}

.how-get-money__item:nth-child(2)::after {
  height: 150%;
  z-index: 5;
}

.how-get-money__item:nth-child(3)::after {
  height: 250%;
  z-index: 4;
}

.how-get-money__item:nth-child(4)::after {
  bottom: 0;
  height: 400%;
  z-index: 3;
}

.how-get-money__item:hover::after, .how-get-money__item:focus::after {
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
}

.how-get-money__item:hover svg,
.how-get-money__item:focus svg {
  fill: #ffa147;
}

.how-get-money__icon {
  flex-basis: 35%;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-get-money__icon svg {
  width: 70px;
  height: 70px;
  fill: #cfd5dd;
  transition: fill 500ms ease-in-out;
}

.how-get-money__text {
  flex-grow: 1;
  padding-left: 50px;
  padding-right: 15px;
}

.wallet {
  padding-top: 35px;
  padding-bottom: 42px;
  background-color: rgba(255, 255, 255, 0.95);
}

.wallet .btn {
  display: block;
  margin: 0 auto;
}

.wallet__note {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.455;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 30px;
}

.wallet__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -18px;
  margin-left: -23px;
  margin-bottom: 38px;
}

.wallet__item {
  width: 102.86px;
  height: 97.71px;
  background-color: #F6F9FC;
  border-radius: 18px;
  margin-top: 18px;
  margin-left: 23px;
  background-image: url(../images/wallet/arrow.png);
  background-repeat: no-repeat;
  background-position: center bottom 14px;
}

.wallet__link {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews {
  background-color: #f6f9fc;
  padding-top: 46px;
  padding-bottom: 30px;
}

.reviews__list {
  margin-top: 39px;
  margin-bottom: 30px;
}

.reviews__item {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  border-radius: 22px;
  padding: 31px 16px 41px 24px;
}

.reviews__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  margin-bottom: 19px;
  margin-top: 26px;
}

.reviews__location {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #93A0AB;
  padding-left: 20px;
  margin-bottom: 17px;
  background-image: url(../images/reviews/location.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 16px;
}

.reviews__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.186;
  color: #536473;
  margin-bottom: 27px;
}

.reviews__buttons .btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 13px;
}

.reviews__buttons .btn-sec {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .reviews__item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1299px) {
  .reviews__item:nth-child(3) {
    display: none;
  }
}

.clients {
  padding-top: 32px;
  padding-bottom: 34px;
  background: url(../../images/clients/map.svg) center/contain no-repeat, linear-gradient(81.55deg, #ffa24a 33.93%, #ffa846 73.78%);
}

.clients__list {
  margin-top: 29px;
}

.clients__item {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  border-radius: 22px;
  padding: 25px;
  display: flex;
}

.clients__icon {
  width: 30px;
  height: 30px;
}

.clients__image {
  flex-basis: 25%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__info {
  flex-grow: 1;
}

.clients__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  margin-bottom: 6px;
}

.clients__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.186;
  color: #536473;
  margin-bottom: 8px;
}

.clients__location {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #93A0AB;
  padding-left: 20px;
  background-image: url(../images/reviews/location.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 16px;
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1299px) {
  .clients__item:nth-child(3) {
    display: none;
  }
}

.service {
  padding-top: 41px;
  padding-bottom: 26px;
}

.service__list {
  margin-top: 30px;
}

.service__item {
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #F8EBEB;
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  border-radius: 22px;
  padding: 33px 26px 42px 26px;
}

.service__item:not(:last-child) {
  margin-bottom: 30px;
}

.service__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
  margin-bottom: 21px;
}

.service__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.186;
  color: #536473;
}

.faq {
  background-color: #f6f9fc;
  padding-top: 33px;
  padding-bottom: 35px;
}

.faq__list {
  margin-top: 29px;
}

.faq__item {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  border-radius: 12px;
  padding: 25px 18px;
  position: relative;
}

.faq__item--open {
  background: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);
}

.faq__item:not(:last-child) {
  margin-bottom: 4px;
}

.faq__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.188;
}

.faq__title--open {
  color: #ffffff;
}

.faq__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.214;
  color: #FFFFFF;
  margin-top: 14px;
  display: none;
}

.faq__text--visible {
  display: block;
}

.faq__btn {
  width: 15px;
  height: 9px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 31px;
  right: 18px;
  background-image: url(../images/icons/faq/down.svg);
  transition: background-image 250ms ease-in-out;
}

.faq__btn--open {
  background-image: url(../images/icons/faq/up.svg);
}

.get-now {
  background-color: #fefefe;
  padding-top: 38px;
}

.get-now__note {
  margin-top: 28px;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.335;
  text-align: center;
  color: #536473;
}

.get-now__img {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/get-now/sun-mobile.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 380px 326px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .get-now__img {
    background-image: url(../images/get-now/sun-mobile@2x.png);
  }
}

.get-now .btn {
  display: block;
  margin: 0 auto;
}

.footer {
  padding-top: 32px;
  padding-bottom: 39px;
  background: url(../images/footer/fire-main.png) calc(50% - 250px) center no-repeat, linear-gradient(to right, #ffa047 0%, #ffc43f 100%);
}

.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__note {
  border: 1px solid #ffffff;
  padding: 22px 58px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 31px;
}

.footer__note span {
  text-decoration: underline;
}

.footer .contact-list {
  margin-top: 24px;
}

.footer .logo {
  text-align: center;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: all 500ms ease-in-out;
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #ff7b00;
}

.contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
  fill: #ff7b00;
}

.contact-list__link.mail {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.154;
}

.contact-list__link.tell {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.182;
}

.contact-list__icon {
  width: 21px;
  height: 21px;
  fill: #fff;
  margin-right: 12px;
  transition: all 500ms ease-in-out;
}

.footer-navigation {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 29px;
  padding-bottom: 34px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu-list {
  display: flex;
  justify-content: space-between;
}

.footer-menu-list__item {
  position: relative;
  padding-bottom: 5px;
}

.footer-menu-list__item::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ff7b00;
  border-radius: 1.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.footer-menu-list__item:hover::after {
  transform: scaleX(1);
}

.footer-menu-list__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.186;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.creditors-list {
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 23px;
}

.creditors-list__item {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.167;
  color: #FFFFFF;
}

.footer-cards__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  color: #FFFFFF;
  margin-top: 27px;
  margin-bottom: 19px;
}

.footer-cards__list {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agreements {
  margin-bottom: 34px;
}

.agreements__info {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.167;
  color: #ffffff;
}

.agreements__info:nth-child(2) {
  margin-top: 23px;
  color: red;
}

.footer-bottom {
  padding-top: 34px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom__left {
  text-align: center;
}

.footer-bottom__right {
  display: flex;
}

.footer-icon {
  width: 45px;
  height: 45px;
}

.copyright {
  margin-top: 21px;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  color: #ffffff;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.social-list {
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.social-list__item {
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  padding-right: 23px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.social-list__item:not(:first-child) {
  padding-left: 23px;
}

.social-list__icon {
  fill: #ffffff;
  transition: all 500ms ease-in-out;
}

.social-list__icon:hover, .social-list__icon:focus {
  fill: #ff7b00;
  transform: scale(1.05);
}
/*# sourceMappingURL=styles.css.map */