.header {
    height: 70px;
    background-color: #ffbf40;
    border-bottom: 1px solid #FF7B00;
    box-shadow: 0 3px 5px #ffbf40;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    &-icon{
        width: 126px;
        height: 24px;
    }
}

.site-navigation {
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;
    background-color: rgb(153, 85, 85);
    padding: 0 15px;

    z-index: 1;
    transform-origin: right top;
    transform: scale(0);
    transition: transform 500ms ease-out;
}

.menu-list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu-list__item {
    &:not(:last-child){
        margin-bottom: 30px;
    }
}

.menu-link {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}

.header-btn {}

.menu-button {
    &.is-open .icon-menu {
        display: none;
    }
    
    &.is-open .icon-cross {
        display: block;
    }
    
    .icon-cross {
        display: none;
    }
}

.menu-button-icon {
    fill: #ff7b00;
}


.show{
    transform: scale(1) rotate(360deg);
}
.is-blocked{
    overflow: hidden;
}