.header {
    height: 70px;
    background-color: #cfcfcf;
    border-bottom: 1px solid #FF7B00;
    box-shadow: 0 3px 5px #ffbe40;

    position: relative;

    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    &-icon{
        width: 126px;
        height: 24px;
    }
}

.site-navigation {
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;
    background-color: rgb(153, 85, 85);
    padding: 0 15px;

    transform-origin: right center;
    transform: scaleX(0);
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}

.menu-list {
    padding: 40px 0;
}

.menu-list__item {}

.menu-link {}

.header-btn {}

.menu-button {
    &.is-open .icon-menu {
        display: none;
    }
    
    &.is-open .icon-cross {
        display: block;
    }
    
    .icon-cross {
        display: none;
    }
}

.menu-button-icon {
    fill: #ff7b00;
}


.show{
    transform: scaleX(1);
    opacity: 1;
}