.hero{
    padding-top: 100px;
    padding-bottom: 34px;
    background: #ffbf40 url(../images/footer/fire-main.png) calc(50% - 525px) center no-repeat;


    &-subtitle{
        width: 100%;

        background-color: rgba(255, 255, 255, 0.95);
      
        border-radius: 12px;

        padding: 14px 25px 14px 75px;
        margin-bottom: 24px;

        position: relative;
        &__text{
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;

            color: #3C4260;
        }
        &__icon{
            width: 56px;
            height: 56px;

            position: absolute;
            top: -10px;
            left: 8px;

            transform-origin: center bottom;
            animation: fire 1500ms linear infinite;
        }
    }
    &__info{
        margin-bottom: 37px;

    }
    &__title{
        font-weight: 600;
        font-size: 36px;
        line-height: 111.5%;
        text-align: center;
        text-transform: uppercase;
        
        color: #FFFFFF;

        margin-bottom: 18px;
    }
    &__text{
        font-weight: 400;
        font-size: 20px;
        line-height: 133.5%;
        text-align: center;
        
        color: #FFFFFF;
        margin-bottom: 18px;
    }
    &__note{
        font-weight: 300;
        font-size: 14px;
        line-height: 145.5%;
        text-align: center;
        
        color: #FFFFFF;
    }

    &__image{
        @media screen and (max-width: 767px){
            display: none;
        }
    }
}

@keyframes fire{
    0% {
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1.2) rotate(-10deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

// tablet
@media screen and (min-width: 768px) {
    .hero{
        padding-top: 115px;
        position: relative;
        background: url(../images/hero/sun-tablet.png) calc(50% - 170px) calc(50% + 120px) no-repeat, 
                    url(../images/footer/fire-main.png) calc(50% - 525px) center no-repeat,
                    linear-gradient(to right, #ffa047 0%, #ffc93e 100%);
                    
        &-subtitle{
            max-width: 382px;
            padding: 15px 23px 15px 75px;
            margin-bottom: 25px;
            margin-left: auto;
            margin-right: auto;
            &__text{
                font-size: 22px;
                line-height: 1.182;
            }
            &__icon{}
        }
        &__title{
            margin-bottom: 10px;
        }
        &__text{
            font-size: 25px;
            margin-bottom: 10px;
        }
        &__image{
            position: absolute;
            bottom: 0;
            left: calc(50% - 390px);
            z-index: 99;
            pointer-events: none;
        }
    }
}

// desktop ----------------------------- desktop --------------

@media screen and (min-width: 1300px) {
    .hero{
        padding-bottom: 68px;

        background: url(../images/hero/sun-desktop.png) calc(50% + 50px) calc(50% - 15px) no-repeat,
                    url(../images/hero/lines.svg) calc(50% - 520px) calc(50% + 80px) no-repeat,
                    url(../images/footer/fire-01.png) calc(50% - 525px) center no-repeat,
                    url(../images/footer/fire-02.png) calc(50% - 525px) center no-repeat,
                    url(../images/footer/fire-main.png) calc(50% - 525px) center no-repeat,
                    url(../images/footer/fire-04.png) calc(50% - 525px) center no-repeat,
                    linear-gradient(to right, #ffa047 0%, #ffc93e 100%);


        .container{
            display: flex;
            justify-content: space-between;
        }
        &__info{
            max-width: 490px;
            padding-top: 80px;
        }
        &-subtitle {
            margin-bottom: 20px;
            margin-left: 0;
        }
        &__title {
            text-align: left;
            font-size: 48px;
            margin-bottom: 15px;
        }
        
        &__text {
            text-align: left;
            font-size: 25px;
            margin-bottom: 110px;
        }
        &__note{
            text-align: left;
            max-width: 312px;
        }
        &__image{
            left: calc(50% - 245px);
        }
    }
}