.reviews {
   background-color: #f6f9fc;
   padding-top: 46px;
   padding-bottom: 30px;
   &__list{
      margin-top: 39px;
      margin-bottom: 30px;
   }
   &__item {
      background-color: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
      border-radius: 22px;
      padding: 31px 16px 41px 24px;
   }
   &__photo{}
   &__name{
      font-weight: 700;
      font-size: 18px;
      line-height: 1.167;
      margin-bottom: 19px;
      margin-top: 26px;
   }
   &__location{
      font-weight: 400;
      font-size: 15px;
      line-height: 1.2;
      color: #93A0AB;
      padding-left: 20px;
      margin-bottom: 17px;

      background-image: url(../images/reviews/location.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 12px 16px;
   }
   &__text{
      font-weight: 300;
      font-size: 16px;
      line-height: 1.186;
      
      color: #536473;
      margin-bottom: 27px;
   }

   &__buttons {
      .btn {
         display: block;
         margin: 0 auto;
         margin-bottom: 13px;
      }
      
      .btn-sec {
         display: block;
         margin: 0 auto;
      }
   }
}

@media screen and (max-width: 767px){
   .reviews__item:nth-child(2){
      display: none;
   }
}

@media screen and (max-width: 1299px) {
   .reviews__item:nth-child(3) {
      display: none;
   }
}