.service {
   padding-top: 41px;
   padding-bottom: 26px;

   &__list {
      margin-top: 30px;
   }

   &__item {
      background-color: rgba(255, 255, 255, 0.95);
      border: 1px solid #f8ebeb;
      box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
      border-radius: 22px;
      padding: 33px 26px 42px 26px;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.167;
      margin-bottom: 21px;
   }
   &__info {
      font-weight: 300;
      font-size: 13px;
      line-height: 1.186;
      color: #536473;
   }
}
// 380px
@media screen and (min-width: 380px) {
   .service {
      &__title {
         font-size: 24px;
      }
      &__info {
         font-size: 16px;
      }
   }
}
// tablet --------------------------------------- tablet --------------------------------

@media screen and (min-width: 768px) {
   .service {
      padding-top: 57px;
      padding-bottom: 48px;

      &__list {
         margin-top: 42px;
      }
      &__item {
         padding: 44px 52px 47px 48px;
      }
      &__title {
         margin-bottom: 31px;
      }
   }
}

// desktop ------------------------------ desktop ------------------------

@media screen and (min-width: 1300px) {
   .service {
      padding-bottom: 72px;

      &__list {
         display: flex;
         margin-left: -30px;
      }
      &__item {
         margin-left: 30px;
         flex-basis: calc(100% / 2 - 30px);
         padding: 44px 45px 44px 48px;
      }
   }
}
