.service {
   padding-top: 41px;
   padding-bottom: 26px;

   &__list {
      margin-top: 30px;
   }

   &__item {
      background-color: rgba(255, 255, 255, 0.95);
      border: 1px solid #F8EBEB;
      box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
      border-radius: 22px;
      padding: 33px 26px 42px 26px;
      &:not(:last-child){
         margin-bottom: 30px;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.167;
      margin-bottom: 21px;
   }
   &__info {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.186;
      color: #536473;
   }
}
