.btn-sec {
   border: 1px solid #c9d2dd;
   background-color: transparent;
   border-radius: 8px;
   padding: 21px 31px;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.186;
   text-transform: uppercase;
   color: #45515f;

   cursor: pointer;
   transition: transform 300ms ease-out;

   &:hover,
   &:focus {
      transform: scale(1.05);
   }
   @media screen and (min-width: 380px) {
      font-size: 16px;
   }
}

.btn-sec--white {
   border: 1px solid #fefefe;
   color: #fefefe;
}
